body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
